:root {
  --main-color: white;
  --font-color-primary: #623162;
  --font-color-second: #ee4a52;
  --bg-menu: #623162c7;
  --body-size: 90vh;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: linear-gradient(to left, #9808ccb7, #f97793c7);
}

.menu_hide {
  transform: translateY(-110%);
}

.opacity {
  opacity: 0%;
}

.main {
  width: 90%;
  transition: all 0.5s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  height: 30px;
  max-width: 30vh;
  margin: 10px auto 10px;
  font-size: 0.9rem;
  border: none;
 
}
.errormsg{
  color: var(--font-color-primary);
  text-align: center;
  font-weight: bold;
}
.btn-link {
  background-color: #623162;
  color: white;
}

.text-justify {
  text-align: justify;
}

.btn-submit {
  background-color: var(--font-color-primary);
  color: white;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

// estilos de las cards
.home-cards {
  width: 100%;
  min-width: 120px;
  max-width: 370px;
  height: 100%;
  min-height: 400px;
  max-height: 450px;
  background-color: rgba(218, 218, 218, 0.644);
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  color: rgb(78, 78, 78);
  box-shadow: 10px 10px 10px -1px #6231629a;
  .card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card-img {
    width: 90%;
    height: 85%;
    margin: 10px auto 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .cards-title {
    color: var(--bg-menu);
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

//Estilos del formulario

.form {
  width: 100%;
  max-width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #adadad9a;
  box-shadow: 10px 10px 10px -1px #5252529a;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px 0px;
  z-index: 99;

  .form-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    p {
      color: white;
      padding: 10px;
      font-size: 0.9rem;

      a {
        color: rgb(13, 70, 156);
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    label {
      color: white;
      margin: 10px 0px;
      font-size: 0.9rem;
    }

    input[type="text"],
    input[type="password"], input[type="date"] {
      border: none;
      outline: none;
      padding: 5px 5px;
      border-radius: 5px;
      color: #525252;
    }
    .servicios{
      border: none;
      outline: none;
      padding: 5px 5px;
      border-radius: 5px;
      color: #525252;
    }
  }
}

.fondo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-height: 450px;
  background-color: rgba(218, 218, 218, 0.644);
  padding: 2vh;
  margin: 10vh;
  border-radius: 5px;
  color: rgb(78, 78, 78);
  box-shadow: 10px 10px 10px -1px #6231629a;

  .main-table{
    border-collapse: collapse;
    border: solid 1px black;
    width: 150vh;
    background: var(--main-color);
    
    .table-header{
      padding: .5vh 2vh;
      background-color: #f97793c7;
    }

    tr,td {
      border: solid 1px;
      padding: .5vh 2vh;
    }


    tr:nth-child(even){
      background-color: #ffc8d4c7;
    }
    tr:hover {
      background-color: #ddd;
    }
  }
  

}

